[submodule "pob-mcp"]
	path = pob-mcp
	url = https://github.com/charleslucas/pob-mcp.git
[submodule "poe-mcp-server"]
	path = poe-mcp-server
	url = https://github.com/charleslucas/poe-mcp-server.git
[submodule "POEMCP"]
	path = POEMCP
	url = https://github.com/charleslucas/POEMCP.git
[submodule "PathOfBuilding"]
	path = PathOfBuilding
	url = https://github.com/charleslucas/PathOfBuilding.git
	branch = api-stdio
[submodule "reference_data/skilltree"]
	path = reference_data/skilltree
	url = https://github.com/charleslucas/poe-skilltree-export.git
[submodule "reference_data/atlastree"]
	path = reference_data/atlastree
	url = https://github.com/charleslucas/poe-atlastree-export.git
